	
h1{
position:absolute;
top :80px;
left:630px;
color: white;
text-decoration: italic;

}
	
body {
	
	background-color:white;
	text-align: center;
	text-decoration: italic;
	color: black;
	
}

h3 {
text-decoration: underline;
color: red;
size: 20px;


}

img { 
position:absolute;
top:25px;
right:20px;
border: solid 4px white

	}
	
	
	h2{
		
	position:absolute; 
	color: white;
	top:5px;
	left:15px;
	

	}
		
		
		
				#bande_horizontale{
				padding: 0px;
				margin: 0px;
				border: none;
				width: 100%;
				height: 200px;
				background-color: black
				
				} 
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		